<?xml version="1.0" encoding="utf-8"?>
<!-- Documentation: https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md#coverlet-options-supported-by-vstest-integration -->
<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat code coverage">
                <Configuration>
                    <Format>lcov</Format>

                    <!-- Exclusion rules are not synchronized with dotCover, which are controlled by BehringerXTouchExtender.sln.DotSettings -->
                    <!-- Syntax: https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/MSBuildIntegration.md#filters -->
                    <Exclude>[*]*.Facades?.*,[*]*.Façades?.*</Exclude> <!-- All types in a Facade, Facades, Façade, or Façades namespace folder -->
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>
